* {
  margin: 0;
  padding: 0;
}

.main {
  width: 50%;
  text-align: center;
  margin: 20px auto;
}

.heading {
  margin-bottom: 60px;
}

.text {
  font-size: large;
  margin-bottom: 10px;
}

.input {
  width: 240px;
  height: 20px;
  margin-bottom: 20px;
  padding: 7px;
}

.input::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.reset-btn {
  width: 110px;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
  border: none;
}

.check-btn {
  width: 110px;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
  border: none;
}
